@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Download <a href="#">BiRD</a> here.</p>
    <h2>Guide til BiRD</h2>
</div>
